html 
 head
  title Harshit Dance Acadmey
  block script
  block style
 body
   nav#navbar
     ul
      div#logo
       img(src="", alt="")
       | HDA 
       li
        a(href="/") Home
       li
        a(href="/about") About
       li
        a(href="/class") Class Info
       li
        a(href="/contact") Contact Us
   block content

   footer#footerSection
    | Copyright &copy; 2020 Harshit Dance Acadmey