extends base.pug
block script
 script(src="../app.js")
block style
 style 
  include ../static/style.css
  include ../static/class.css 

  block content 
    section#missionSection  
      div.box
       div.card
        h3 B-Boying
        div.card-box
         div.card-img
          img(src="../static/b-boying.jpg",alt="")
         div.card-content
          p Timing: 4pm-5pm
          p Teacher Name:ABC
          p Certified By glasgow University
       div.card
        h3 Ballet
        div.card-box
         div.card-img
          img(src="../static/ballet.jpg",alt="")
         div.card-content
          p Timing 5pm-6pm 
          p Teacher Name: DEF
          p Certified By anupam Kher acadmey
       div.card
        h3 Contemporary
        div.card-box
         div.card-img
          img(src="../static/contemporary.jpg",alt="")
         div.card-content
          p Timing:6pm-7pm 
          p Teacher Name:GHI
          p Certified By Oxford University
      div.box 
       div.card
        h3 Flamenco
        div.card-box
         div.card-img
          img(src="../static/flamenco.jpg",alt="")
         div.card-content
          p Timing:4pm-5pm
          p Teacher Name: JKL
          p Certified By Cambridge University

       
       div.card
        h3 Salsa
        div.card-box
         div.card-img
          img(src="../static/salsa.png",alt="")
         div.card-content
          p Timing:5pm-6pm 
          p Teacher Name:MNO
          p Winner of Dance+ Season1
       
       div.card
        h3  Kabuki
        div.card-box
         div.card-img
          img(src="../static/kabuki.jpg",alt="")
         div.card-content
          p Timing 6pm-7pm 
          p Teacher Name:xin xoung
          p Certified By Uniiversity Of Japan
      div.box 
       div.card
        h3 Tango
        div.card-box
         div.card-img
          img(src="../static/tango.jpg",alt="")
         div.card-content
          p Timing 4pm-5pm
          p Teacher Name:PQR
          p 5yr of Training Experience
       div.card
        h3 Bhangra
        div.card-box
         div.card-img
          img(src="../static/bhangra.jpg",alt="")
         div.card-content
          p Timing:5pm-6pm 
          p Teacher Name:Harpinder Singh
          p 4yr of Experience
       div.card
        h3 Bharatnatyam
        div.card-box
         div.card-img
          img(src="../static/bharatnatyam.jpg",alt="")
         div.card-content
          p Timing:6pm-7pm              
          p Teacher Name:Ashmita Kaur
          p 4yr of Experience